/*PARTIALS*/
.navbar {
  padding: 10px; }
  .navbar__logo {
    border-radius: 100%;
    width: 30%;
    padding-left: 20px;
    padding-top: 20px; }
  .navbar__menu {
    text-align: center;
    padding-right: 20px; }
    .navbar__menu__item {
      padding-right: 40px; }

.fin {
  text-align: center;
  padding: 50px 0 30px 0; }
  .fin__redes {
    padding: 15px; }

/*PAGES*/
body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #404040, #565656, #6d6c6d, #858485, #9e9c9d, #aeacad, #bfbdbd, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
  margin: 0%; }

h1 {
  color: black;
  margin: 150px 0 0 20px;
  font-size: 60px;
  font-family: 'roboto';
  font-weight: bold; }

h2 {
  color: black;
  margin: 100px 0 50px 20px;
  font-size: 45px;
  font-family: 'roboto';
  font-weight: bolder; }

h3 {
  font-family: 'roboto'; }

h4 {
  font-style: oblique;
  color: white; }

p {
  color: black;
  font-family: 'roboto';
  font-weight: lighter; }

/*COLORES*/
/*LETRAS*/
/*MIXIN*/
.inicio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .inicio__texto {
    margin-top: 35px;
    font-weight: lighter;
    width: 60%;
    text-align: justify;
    font-size: 20px; }
  .inicio__foto {
    margin-top: 25px;
    width: 200px;
    height: 400px; }

.medio {
  padding-top: 220px;
  display: flex;
  justify-content: center; }

.card-img-top {
  width: 50%;
  border-radius: 100%; }

.card-text {
  padding: 20px; }

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #404040, #565656, #6d6c6d, #858485, #9e9c9d, #aeacad, #bfbdbd, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
  margin: 0%; }

h1 {
  color: black;
  margin: 150px 0 0 20px;
  font-size: 60px;
  font-family: 'roboto';
  font-weight: bold; }

h2 {
  color: black;
  margin: 100px 0 50px 20px;
  font-size: 45px;
  font-family: 'roboto';
  font-weight: bolder; }

h3 {
  font-family: 'roboto'; }

h4 {
  font-style: oblique;
  color: white; }

p {
  color: black;
  font-family: 'roboto';
  font-weight: lighter; }

/*COLORES*/
/*LETRAS*/
/*MIXIN*/
.inventario {
  display: grid;
  grid-template-areas: "head  head" "menu menu" "main foot";
  margin-left: 20px; }
  .inventario__titulo {
    grid-area: head; }
  .inventario__texto {
    font-size: 25px;
    grid-area: menu; }
  .inventario__lista {
    grid-area: main;
    font-size: 20px;
    font-weight: bolder; }
  .inventario__foto:hover {
    grid-area: foot;
    transform: scale(1.5, 1.5); }

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #404040, #565656, #6d6c6d, #858485, #9e9c9d, #aeacad, #bfbdbd, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
  margin: 0%; }

h1 {
  color: black;
  margin: 150px 0 0 20px;
  font-size: 60px;
  font-family: 'roboto';
  font-weight: bold; }

h2 {
  color: black;
  margin: 100px 0 50px 20px;
  font-size: 45px;
  font-family: 'roboto';
  font-weight: bolder; }

h3 {
  font-family: 'roboto'; }

h4 {
  font-style: oblique;
  color: white; }

p {
  color: black;
  font-family: 'roboto';
  font-weight: lighter; }

/*COLORES*/
/*LETRAS*/
/*MIXIN*/
.instrucciones {
  display: grid;
  margin-left: 20px; }
  .instrucciones__texto {
    font-size: 25px; }
  .instrucciones__video {
    justify-self: center;
    animation-duration: 8s;
    animation-name: aparece; }

@keyframes aparece {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
  .instrucciones__archivos {
    display: block;
    color: green;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px; }

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #404040, #565656, #6d6c6d, #858485, #9e9c9d, #aeacad, #bfbdbd, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
  margin: 0%; }

h1 {
  color: black;
  margin: 150px 0 0 20px;
  font-size: 60px;
  font-family: 'roboto';
  font-weight: bold; }

h2 {
  color: black;
  margin: 100px 0 50px 20px;
  font-size: 45px;
  font-family: 'roboto';
  font-weight: bolder; }

h3 {
  font-family: 'roboto'; }

h4 {
  font-style: oblique;
  color: white; }

p {
  color: black;
  font-family: 'roboto';
  font-weight: lighter; }

/*COLORES*/
/*LETRAS*/
/*MIXIN*/
.presentacion {
  padding: 20px; }
  .presentacion__texto {
    font-size: 25px; }

.carousel {
  padding: 7% 15%;
  text-align: center; }
  .carousel__cuerpo__fotos {
    width: 350px;
    height: 450px; }

@media only screen and (max-width: 1024px) {
  #carouselExampleControls {
    width: 300px; }
  .carousel__fotos {
    width: 300px; } }

@media only screen and (max-width: 780px) {
  #carouselExampleControls {
    width: 280px; }
  .carousel__fotos {
    width: 280px; } }

@media only screen and (max-width: 560px) {
  #carouselExampleControls {
    width: 180px; }
  .carousel__fotos {
    width: 180px; } }

body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #404040, #565656, #6d6c6d, #858485, #9e9c9d, #aeacad, #bfbdbd, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
  margin: 0%; }

h1 {
  color: black;
  margin: 150px 0 0 20px;
  font-size: 60px;
  font-family: 'roboto';
  font-weight: bold; }

h2 {
  color: black;
  margin: 100px 0 50px 20px;
  font-size: 45px;
  font-family: 'roboto';
  font-weight: bolder; }

h3 {
  font-family: 'roboto'; }

h4 {
  font-style: oblique;
  color: white; }

p {
  color: black;
  font-family: 'roboto';
  font-weight: lighter; }

/*COLORES*/
/*LETRAS*/
/*MIXIN*/
body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #404040, #565656, #6d6c6d, #858485, #9e9c9d, #aeacad, #bfbdbd, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
  margin: 0%; }

h1 {
  color: black;
  margin: 150px 0 0 20px;
  font-size: 60px;
  font-family: 'roboto';
  font-weight: bold; }

h2 {
  color: black;
  margin: 100px 0 50px 20px;
  font-size: 45px;
  font-family: 'roboto';
  font-weight: bolder; }

h3 {
  font-family: 'roboto'; }

h4 {
  font-style: oblique;
  color: white; }

p {
  color: black;
  font-family: 'roboto';
  font-weight: lighter; }

/*COLORES*/
/*LETRAS*/
/*MIXIN*/
.tienda {
  margin-left: 20px; }
  .tienda__texto {
    font-size: 25px; }

/*UTILS*/
body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(to right top, #404040, #565656, #6d6c6d, #858485, #9e9c9d, #aeacad, #bfbdbd, #d0cece, #dbdada, #e7e6e7, #f3f3f3, #ffffff);
  margin: 0%; }

h1 {
  color: black;
  margin: 150px 0 0 20px;
  font-size: 60px;
  font-family: 'roboto';
  font-weight: bold; }

h2 {
  color: black;
  margin: 100px 0 50px 20px;
  font-size: 45px;
  font-family: 'roboto';
  font-weight: bolder; }

h3 {
  font-family: 'roboto'; }

h4 {
  font-style: oblique;
  color: white; }

p {
  color: black;
  font-family: 'roboto';
  font-weight: lighter; }

/*COLORES*/
/*LETRAS*/
/*MIXIN*/
